/*RESET*/
@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Liter&display=swap');

* {
    box-sizing: border-box;
    }
    
    html, body, div, span, applet, object, iframe,
    h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    
    body {
        font-family: "Liter", serif;
        font-weight: 400;
        font-style: normal;
    }
    
    ol, ul {
    list-style: none;
    }
    
    blockquote, q {
    quotes: none;
    }
    
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    
    a {
    color:inherit;
    text-decoration: none;
    }
    
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    }
/*END RESET*/

/*VARIABLES*/
:root {
    --main-font: Liter; /* FUENTE PRINCIPAL DE LA PAGINA */
    --main-font-weight: 400; /* PESO PRINCIPAL DE CARACTERES */
    --main-font-size: 16px; /* TAMAÑO PRINCIPAL DE CARACTERES */
    --main-color-pink: #FF6CAF; /* ROSA */
    --main-color-black: #1E1E1E; /* GRIS OSCURO*/
    --main-color-grey: #B1B1B1; /* GRIS CLARO*/
    --main-max-width: 1200px; /* TAMAÑO MÁXIMO GENERAL DE CONTENIDOS */
    --main-border: 1px solid transparent; /* BORDE GENERAL PARA ELEMENTOS */
}
/*END VARIABLES*/

/*HEADER*/
#menu-header {
    background-color: var(--main-color-pink);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: .5em 1em;

    font-family: var(--main-font);
}

.logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-hamburguesa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-apartados {
    display: none;
}
/*END HEADER*/

/*MAIN*/
main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    font-family: Bebas Neue;
    font-weight: var(--main-font-weight);

    text-align: left;

    margin: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

button {
    background-color: var(--main-color-pink);
    color: var(--main-color-black);
    border: var(--main-border);
    font-size: 14px;
    padding: .5em 1em;
}
/*INTRODUCCION*/
#introduccion .introduccion-pink {
    background-color: var(--main-color-pink);
    color: var(--main-color-black);

    padding: 1em 2em 0em;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

#introduccion .introduccion-pink .introduccion-img {
    position: relative;
    margin: 0 -2em;
    width: 100vw;
}

#introduccion .introduccion-black {
    background-color: var(--main-color-black);
    color: var(--main-color-pink);

    padding: 1em 2em 2em;
    display: flex;
    flex-flow: column;
    gap: 1em;

    text-align: center;
}
/*END INTRODUCCION*/
/*AMBITOS DE TRABAJO*/
#ambitos-trabajo {
    background-color: var(--main-color-black);
    color: white;

    padding: 1em;
    gap: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#ambitos-trabajo h2 {
    color: var(--main-color-pink);
}

#ambitos-trabajo .ambitos-trabajo-main {
    display: flex;
    flex-flow: column;
    width: 100%;
}
/*DISEÑO GRAFICO*/
#ambitos-trabajo .diseno-grafico {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

#ambitos-trabajo .diseno-grafico .diseno-grafico-texto {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

#ambitos-trabajo .diseno-grafico .diseno-grafico-galeria {
    display: flex;
    flex-flow: column;
    gap: .5em;
}

#ambitos-trabajo .diseno-grafico .diseno-grafico-galeria .diseno-grafico-card {
    display: flex;
    flex-flow: column;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    overflow: hidden;

    position: sticky;
    top: 1em;
}

#ambitos-trabajo .diseno-grafico .diseno-grafico-galeria .diseno-grafico-card .card-text {
    display: flex;
    flex-flow: column;
    justify-content: end;
    gap: .2em;

    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    color: white;
    background-color: color-mix(in srgb, var(--main-color-black) 50%, transparent);
    font-size: 14px;
}
/*END DISEÑO GRAFICO*/
/*ILUSTRACION*/
#ambitos-trabajo .ilustracion {
    display: flex;
    flex-flow: column;
    gap: 1em;
}
/*END ILUSTRACION*/
/*UX/UI*/
#ambitos-trabajo .ux-ui {
    display: flex;
    flex-flow: column;
    gap: 1em;
}
/*END UX/UI*/
/*END AMBITOS DE TRABAJO*/
/*ULTIMOS TRABAJOS*/
#ultimos-trabajos {
    background-color: var(--main-color-pink);
    color: var(--main-color-black);
    padding: 1em;

    display: flex;
    flex-flow: column;
    gap: 1em;

    width: 100%;
}
/*END ULTIMOS TRABAJOS*/
/*PRODUCTOS*/
#productos {
    background-color: var(--main-color-pink);
    color: var(--main-color-black);

    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1em;
    gap: 1em;
}
/*END PRODUCTOS*/
/*END MAIN*/

/*FOOTER*/
footer {
    background-color: var(--main-color-black);
    color: var(--main-color-pink);
}
#contacto {
    padding: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.botones-contacto {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

#redes {
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 1px solid var(--main-color-pink);
}

/*END FOOTER*/


/*MEDIA*/ 
@media (min-width: 768px) {
    .burger {
        display: none;
    }

    .nav-apartados {
        display: none;
    }

    nav.visible {
        display: flex;
    }
}
/*END MEDIA*/